nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin:0 auto;
    height: 72px;
  }
  ul{
    display: flex;
    justify-content: space-around;
    gap:24px;
  }
  button{
    all:unset;
    padding: 6px 16px;
    background: var(--red);
    height: 32px;
    color: whites;
    font-weight: 500;
  }
  li{
    list-style: none;
  }
  .logo{
    display: flex;
   
  }